body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

header {
    text-align: center;
    font-family: 'Newsreader', serif;
    background-color: rgb(129, 194, 194);
    height: 80px;
    border: 2px solid rgb(104, 146, 146);
    padding: 50px;
}

h2 {
    text-align: center;
    margin-top: 100px;
    font-family: 'Newsreader', serif;
}

h3 {
    font-family: 'Newsreader', serif;
    text-align: center;
}

.nav-list li {
    background-color: salmon;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 10px;


}

.link-list li {
    list-style: none;
    padding: 15px;
    background-color: salmon;
    display: inline-block;
    border-radius: 5%;
    color: black;
    margin: 10px;
}

li:hover {
    font-size: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    text-align: center;

}

.sub-titulo {
    margin-top: 70px;
    font-size: 1.4em;
    text-align: center;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

p { 
    font-family: 'Montserrat', sans-serif;;
}

#photo1 {
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#photo2 {
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#photo3 {
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

table, th, td {
    border-collapse: collapse;
    margin:auto;
    border: 1px solid black;
    margin-top: 20px;
}

iframe {
    position: fixed;
    right: 5%;
    top: 20px;
    width: 460px;
    height: 300px;
    margin-top: 280px;
}

footer {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}